.record {
  position: absolute;
  top: 20px;
  right: 40px;
  animation: slide 2s;
  -moz-animation: slide 2s;
}

@keyframes slide {
  from {
    top: 100px;
    right: 100px;
  }
  to {
    top: 20px;
    right: 40px;
  }
}
@-moz-keyframes slide {
  from {
    top: 100px;
  }
  to {
    top: 20px;
    right: 100px;
  }
}
